<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rarnu.wxdb.browser"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="26"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Material.Light.DarkActionBar">
        <activity android:name="MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BaseInfoActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".AlgorithmActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".SQLActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".AboutActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".dbui.EnMicroMsgActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".dbui.IndexMicroMsgActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".dbui.SnsMicroMsgActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".dbui.AuxDataActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".dbui.CommonOneActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".dbui.StoryActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".dbui.PriorityActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".dbui.AppBrandCommActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".dbui.WxExptActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".dbui.WxFileIndexActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".dbui.FavoriteActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".BlobActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BlobHexActivity"
                  android:screenOrientation="portrait">
        </activity>

    </application>
</manifest>
