.DS_Store
*.ctps
*.lps
*.so
*.dylib
*.dll
out/
[Bb]uild/
DerivedData/
linksyms.fpc
ppaslink.sh
ppas.sh
*.ppu
*.o
*.a
xcdebugger/
xcuserdata/
projects/
target/
.gradle/
local.properties
gradle.properties

